<h1><%= @album.name %></h1>
<input type="hidden" id="albumID" value="<%= @album.id %>">

<p>
  <b>Description: </b><br />
  <%= @album.description %>
</p>

<%= link_to 'Retour', albums_path, :class => 'btn btn-default'  %>
<%= link_to 'Editer album', edit_album_path(@album), :class => 'btn btn-primary' %>
<%= link_to 'Supprimer album', album_path(@album), :method => 'delete', :confirm => 'Etes-vous sûr ?', :class => 'btn btn-danger' %>
<br />


<% unless @photos.empty? %>
  <% @photos.each do |pic| %>
    <div class="album_container">
      <%= image_tag pic.image.url, :class => "photo" %>
      <div class="caption">
        <p style="text-align: center;">
          <%= link_to "Editer", photo_path(pic), :class => 'btn btn-primary btn-xs' %>
          <%= link_to "Supprimer", pic,
            :data => { :confirm => "Are you sure?" },
            :method => :delete,
            :class => "btn btn-danger btn-xs"
          %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>



