<%= javascript_include_tag 'albums', 'data-turbolinks-track' => true %>

<h1><%= @album.name %></h1>
<input type="hidden" id="albumID" value="<%= @album.id %>">

<%if @album.description.present? %>
  <p>
    <b>Description: </b><br />
    <%= @album.description %>
  </p>
<% end %>  

<%= link_to 'Retour', albums_path, :class => 'btn btn-default'  %>
<%= link_to 'Editer album', edit_album_path(@album), :class => 'btn btn-primary' %>
<%= link_to 'Supprimer album', album_path(@album), :method => 'delete', :confirm => 'Etes-vous sûr ?', :class => 'btn btn-danger' %>
<br />


<div id="photo_div">
<% unless @photos.empty? %>
  <% @photos.each do |pic| %>
    <a href="javascript:void(0)">
        <%= image_tag pic.image.url, :class => "photo_image", :id => pic.id  %>
    </a>
  <% end %>
<% end %>
</div>

<div id="zoom_area">
  <p class="glyphicon glyphicon-remove" id="zoom_close"></p>
  
  <div id="zoom_image">
    <img id="zoom" /> 
  </div>
  <div id="zoom_comments">
    <ul id="comment_list">

    </ul>
  </div> 
 </div> 


<div id="previous"><p class="glyphicon glyphicon-chevron-left"></p></div>
<div id="next"><p class="glyphicon glyphicon-chevron-right"></p></div>




