<%if @previous_photo.present? %>
  <%= link_to "<", photo_path(@previous_photo), :class => 'btn btn-primary'  %>
<% end %>   

<%if @next_photo.present? %>
  <%= link_to ">", photo_path(@next_photo), :class => 'btn btn-primary'  %>  
<% end %>  


<div id="photo_area">
    <div id="photo_image">
      <%= image_tag @photo.image.url, :id => 'image' %>
    </div>
    <div id="photo_comments">
      Ajouté le <%= @photo.created_at.strftime("%d/%m/%Y à %R") %><br />
<!--       par <%= 
            if (!@photo.user_id.nil?)
              user = User.find(@photo.user_id)
              user.username
            else
              "pouet"
            end  
      %> -->
      <br /><br />
      <ul id="comment_list">
        <% @photo.comments.each do |comment| %>
          <li>
            <strong><%= comment.commenter %></strong> <i><%= comment.created_at.strftime("%d/%m/%Y à %R") %></i><br /> 
            <%= comment.body %>
          <li>
        <% end %>
      </ul>

      <%= form_for([@photo, @photo.comments.build]) do |f| %>
        <p>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit "Envoyer" %>
        </p>
      <% end %>
    </div>
</div>

<%= link_to "Retour",
  album_path(@photo.album_id), :class => 'btn btn-primary'  %>
<%= link_to "Supprimer",
  photo_path(@photo),
  :method => 'delete',
  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Etes-vous sûr ?')),
  :class => 'btn btn-danger' %>

<!-- <div class="form-actions">
  
</div>


<% @photo.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    
  </p>

<p>
  <%= link_to 'Destroy Comment', [comment.photo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>


<% end %> -->



